{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $github := promptStringOnce . "github" "GitHub username" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github = {{ $github | quote }}
