[user]
    name = {{ .name }}
    email = {{ .email }}

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    syntax-theme = ansi

[merge]
    conflictstyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = default

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple

[rerere]
    enabled = true

[fetch]
    prune = true

[github]
    user = {{ .github }}
