"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_status\
$nodejs\
$python\
$rust\
$golang\
$cmd_duration\
$line_break\
$character"""

add_newline = true
palette = "theme"

{{- if eq .theme "catppuccin-mocha" }}
[palettes.theme]
directory = "#89dceb"
branch    = "#cba6f7"
status    = "#f9e2af"
success   = "#a6e3a1"
error     = "#f38bA8"
duration  = "#f9e2af"
{{- else if eq .theme "gruvbox-dark" }}
[palettes.theme]
directory = "#83a598"
branch    = "#d3869b"
status    = "#fabd2f"
success   = "#b8bb26"
error     = "#fb4934"
duration  = "#fabd2f"
{{- else if eq .theme "everforest" }}
[palettes.theme]
directory = "#7fbbb3"
branch    = "#d699b6"
status    = "#dbbc7f"
success   = "#a7c080"
error     = "#e67e80"
duration  = "#dbbc7f"
{{- end }}

[character]
success_symbol = "[➜](bold success)"
error_symbol   = "[✗](bold error)"

[directory]
truncation_length = 3
truncate_to_repo  = true
style = "bold directory"

[git_branch]
symbol = " "
style  = "bold branch"

[git_status]
style = "bold status"

[cmd_duration]
min_time = 2_000
format   = "took [$duration](bold duration) "

[nodejs]
symbol = " "

[python]
symbol = " "

[rust]
symbol = " "

[golang]
symbol = " "
